<!--app/templates/user/index.html-->
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<style>
  .product-image {
    width: 95%;
    max-height: 300px;
  }

  .price-title {
    font-style: italic;
    font-size: 14px;
  }

  .price {
    font-size: 16px;
    font-weight: bold;
  }

  .product-item,
  .product-item:link,
  .product-item:hover,
  .product-item:visited {
    text-decoration: none;
    color: black;
  }

  .item-container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
  }

  .item-info {
    position: absolute;
    bottom: 0px;
    height: 50px;
  }
</style>
<div>
  <div class="bg-primary">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark bg-primary p-0">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Sản phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-9">
        {%if not productList %}<span>Không có sản phẩm</span>{%endif%}
        <ul class="list-unstyled row">
          {% for p in productList %}
            <li class="list-item col-4 mt-3">
              <div class='item-container'>
                <a href="/view_product/{{p.id}}" class='product-item'>
                  <img src="/{{p.image}}" class='product-image'>
                  <div class="item-info">
                    <div>
                      <span class='product-name'>{{p.name}}</span>
                    </div>
                    <div>
                      <span class='price-title'>Giá bán :</span>
                      <span class='price'>{{p.price}} ₫</span>
                    </div>
                  </div>
                </a>
              </div>
            </li>
          {%endfor%}
        </ul>

        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{{query_str}}&page=1">&lt;</a></li>
          
          {%if prev_page%}
          <li class="page-item"><a class="page-link" href="{{query_str}}&page={{prev_page}}">{{prev_page}}</a></li>
          {%endif%}

          <li class="page-item active"><a class="page-link" href="{{query_str}}&page={{page}}">{{page}}</a></li>
          
          {%if next_page%}
          <li class="page-item"><a class="page-link" href="{{query_str}}&page={{next_page}}">{{next_page}}</a></li>
          {%endif%}

          <li class="page-item"><a class="page-link" href="{{query_str}}&page={{num_page}}">&gt;</a></li>          
        </ul>
      </div>
      <div class="col-3">
        <form id="fmt" class="pt-5">
         
          <div class="form-group">
            <label>Tên sản phẩm:</label>
            {{form.name}}
          </div>
          <div class="form-group">
            <label>Hãng sản xuất:</label>
            {{form.category}}
          </div>
          <div class="form-group">
            <label>Khoảng giá:</label>
            {{form.priceRange}}
          </div>     
          <button class="btn btn-primary" type="submit">Tìm kiếm</button>     
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    $('#fmt input').addClass('form-control');
    $('#fmt select').addClass('form-control');
  })
</script>