<!--app/templates/order/list.html-->
{% extends '../base.html' %}
{%block navbar %}
  {% with page=3 %}
    {{block.super}}
  {% endwith %}
{%endblock%}

{%block content %}
<div class="container pt-3">
  <table class="table table-bordered">
    <tbody>
      <tr class="text-center">
        <th style="width: 3%;">#</th>
        <th style="width: 15%;">Sản phẩm</th>        
        <th style="width: 15%;">Người mua</th>
        <th style="width: 15%;">Ngày đặt hàng</th>
        <th style="width: 15%;">Trạng thái</th>
        <th style="width: 7%;"></th>
      </tr>
      {% for o in orderList %}
        <tr class="text-center">
          <td>{{ forloop.counter }}</td>
          <td>{{ o.product.name }}</td>          
          <td>{{ o.fullname }} ( {{o.phone}} )</td>
          <td>{{ o.orderDate|date:"d/m/Y H:i:s" }}</td>
          <td>
            {%if o.status == 0 %}Đang chờ nhận hàng {%endif%}
            {%if o.status == 1 %}Đã giao hàng {%endif%}
            {%if o.status == 2 %}Đã hủy {%endif%}
          </td>
          <td>
            <a class="btn btn-sm btn-secondary"  
              href="/view_order/{{o.id}}">Xem</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}