<!--app/templates/category/form.html-->
{% extends '../base.html' %}
{%block navbar %}
  {% with page=1 %}
    {{block.super}}
  {% endwith %}
{%endblock%}

{%block content %}
<div class="container pt-3">
  <h3>Thông tin nhóm sản phẩm</h3>
  <form method="POST">
    {%csrf_token%}
    <table class="table table-form">
      {{form}}
    </table>
    <button class="btn btn-primary" type="submit">Lưu lại</button>
    <a class="btn btn-secondary" href="{% url 'list-category' %}">Quay lại</a>
  </form>
</div>
<script>
  $(document).ready(() => {
    $('.table-form input').addClass('form-control');
  })
</script>
{%endblock%}
