<table style="width:100%" border="1">
  <tbody>
    <tr>
      <th style="width: 5%;">#</th>
      <th style="width: 40%;">Mã</th>
      <th style="width: 40%;">Tên</th>
      <th style="width: 15%;"></th>
    </tr>
    {% for c in categoryList %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ c.code }}</td>
        <td>{{ c.name }}</td>
        <td>
          <a href="#">Chỉnh sửa</a>
          <a href="#">Xóa</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href='{% url "add-category" %}'>Thêm nhóm sản phẩm</a>