<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<table style="width:100%" border="1">
  <tbody>
    <tr>
      <th style="width: 5%;">#</th>
      <th style="width: 40%;">Mã</th>
      <th style="width: 40%;">Tên</th>
      <th style="width: 15%;"></th>
    </tr>
    {% for c in categoryList %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ c.code }}</td>
        <td>{{ c.name }}</td>
        <td>
          <a href="/update_category/{{c.id}}">Chỉnh sửa</a>
          <a href="javascript:deleteCategory({{c.id}})">Xóa</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href='{% url "add-category" %}'>Thêm nhóm sản phẩm</a>
<script>
function deleteCategory(id){
  if(confirm('Bạn có muốn xóa?')) {
    location.href = '/delete_category/' + id;
  }
} 
</script>